<div class="container is-fullhd">

    <h2> Escribinos! </h2>

    <div class="columns">
        <div class="column is-half"> <!-- Top Level Tile -->
            <p> Completá el formulario para que podamos ponernos en contacto con vos.</p>
            <p> O Inscribite para probar una clase gratuita!</p>
            <!-- CAll To Action -->
            <div class="is-left">
            {%include cta.html%}
            </div>
        </div>

        <div class="column">
            <!-- Contact Form -->         
            {%include form.html%}
        </div>
    </div> <!-- END COLUMNS -->  
</div> <!-- END CONTAINER -->  



