<header class="nav is-fixed-top">
	<div class="container">
		<div class="nav-left">
			<a class="nav-item" href="../index.html">
				<img src="{{ site.gym-info.logo }}" alt="Logo">
			</a>
		</div>
		<span class="nav-toggle">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<div class="nav-right nav-menu">
			<a href="" class="nav-item is-active">
				Inicio
			</a>
			<a href="#location" class="nav-item">
				Ubicación
			</a>
			<a href="" class="nav-item">
				Actividades
			</a>
			<a class="nav-item">
				Contacto
			</a>
			<span class="nav-item">
				<a href= " {{ site.ingreso-socios }} " target="_blank" class="button is-info is-outlined is-inverted">
					<span class="icon">
						<i class="fa fa-sign-in"></i>
					</span>
					<span>Ingreso Socios</span>
				</a>
			</span>
		</div>
	</div>
</header>