<section class="hero is-primary is-large header-image">
	<div class="hero-head">
		{% include header.html %}
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1">
				THE BEST<br>PUNCH LINE <br> EVAHHH!
			</h1>
			<p>
				<a class="button is-outlined">
					<span>
						Quiero Inscribirme!
					</span>
				</a>
				<a class="button is-outlined">
					<span>
						Probar una Clase
					</span>
				</a>
			</p>
		</div>
		<div class="container has-text-centered">
			<p>
				<a class="icon is-large" href="#location">
					<i class="fa fa-chevron-circle-down"></i>
				</a>
			</p>
		</div>
	</div>
</section>