
<div id="location" class="container is-fullhd">

	<h2> Donde Estamos? </h2>
	<div class="columns">
		<!--Left Column-->
		<div class="column">
			<p> <strong>Dirección</strong>: {{site.gym-info.direccion}}</p>
			<p> <strong>Teléfono</strong>: {{site.gym-info.telefono}}</p>
			<p> <strong>Horarios</strong>: {{site.gym-info.horario}}</p>

			<div class="tile">
				<!-- Social media -->
				<a class="icon is-medium" href="{{site.social.facebook}}" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="icon is-medium" href="{{site.social.instagram}}" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
				<a class="icon is-medium" href="{{site.social.youtube}}" target="_blank">
					<i class="fa fa-youtube"></i>
				</a>
				<a class="icon is-medium" href="{{site.social.twitter}}" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
		</div>
		<!--Right Column-->
		<div class="column">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.0290220403026!2d-58.4764144851417!3d-34.55282056231315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb69a9ef764c7%3A0x777848ed023d987b!2sZapiola+3572%2C+C1429ANN+CABA!5e0!3m2!1sen!2sar!4v1510608565379" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>